body {
  background-color: #ffc0cb;
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
}

a {
  color: #ff0080;
}

.APP {
  background-color: #d3c1dd;
  max-width: 700px;
  margin: 55x auto;
  border-radius: 18px;
  padding: 100px10px 50px 20px;
  letter-spacing: normal;
}
header {
  border-bottom: 1px solid #ffc0cb;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: rgb(236, 194, 227);
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-form-button {
  background-color: #bc13d3;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 6px;
  color: #dcd0ff;
}

main {
  padding: 30px 0;
  transition: background 1s;
}

.clima-app-data {
  display: flex;
  justify-content: space-between;
}

.clima-app-ciudad {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.clima-app-detalle {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}
.clima-app-detalle strong {
  color: rgb(137, 12, 221);
}

.clima-app-temperatura-container {
  display: flex;
}
.clima-app-icon {
  width: 88px;
  height: 88px;
}
.clima-app-temperatura {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.clima-app-unidad {
  margin-top: 6px;
  font-size: 28px;
}

.clima-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.clima-forecast-date {
  text-align: center;
  color: #ff0080;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.clima-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.clima-forecast-temperatures {
  text-align: center;
  margin-top: 10px;
  color: #ff0080;
  display: flex;
  justify-content: center;
}
.clima-forecast-temperature {
  padding: 0 10px;
}

header {
  border-top: 1px solid #ffc0cb;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(134, 124, 170, 0.6);
}
